<%= provide(:title, "Rules") %>

<div class="container"> 
	<div class="col-lg-9">
			<div class="rules col-lg-offset-3" id="rules">
					<strong>
				
				<h1 id="rules-header">Rules of the Club</h1>
				<span>Any person intoxicated and/or under the influence of drugs will be asked to leave the premises</span></br></br>

				<span>No smoking</span> allowed in the building or on the porch within 18 feet of the front entrance</br>
				<span>No bicycles</span> on the porch or in the building</br>
				<span>No sleeping</span> on the premises</br>
				<span>No panhandling</span></br>
				<span>No dogs</span> allowed on the premises</br>
				<span>No weapons</span> allowed on the premises</br>
				<span>Non Members</span> are welcome 1/2 hour prior and 1/2 hour after scheduled meetings</br>
				<span>Club hours are from 6:30 am to 11:30 pm</span></br>
				</strong>
				
			</div>
	</div>
</div>