<% provide(:title, 'Meetings') %>
<h1>Meetings</h1>

<script>$(document).ready(function() {

    // page is now ready, initialize the calendar...
    // 
        
    $('#calendar').fullCalendar({
       events: 'http://www.google.com/calendar/feeds/1311yorkstreetclub%40gmail.com/public/basic', 

          weekMode: 'liquid',
          
          height: 600,

          defaultView: 'agendaWeek',

          allDaySlot: false,

            header: {
                      left: 'title',
                      center: 'agendaDay,agendaWeek,month',
                      right: 'today prev,next'
            }


    });
});</script>

<div id='calendar'></div>