	<div class="navbar navbar-fixed-bottom" id='footer'>
  	<div class='container'>
  		<div class='row-fluid'>
      	 <div class="span4">
      	 	<%= link_to "1311 York St. Denver, CO, 80206", "http://maps.google.com/?q=1311 York St, Denver, CO, 80206", :target => "_blank" %>
      	 </div>
      	 <div class="span4">303-322-3674</div>
      	 <div class="span4">&copy; 1311 York St. Inc 2013</div>
			</div>
		</div>
	</div>